body{
  background-image: url(background.jpg);
  background-position: bottom-center;
  background-size: cover;
  background-attachment: fixed;
}

body > div{
  width: 65%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-align: center;
}

header > img{
  width: 25%;
}

header > h1{
  color: lime;
  font-family: 'Roboto', sans-serif;
}

nav{
  background-color: lime;
  padding: 1%;
  width: 80%;
  margin: auto;
}

section{
  color: white;
  text-align: left;
  margin-left: 10%;
}

section > h2{
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  line-height: 30%;
  margin-top: 5%;
}

section > div{
  font-family: 'Roboto', sans-serif;
  font-size: 90%;
}

h2 + div:before{
  content: "\21A6";
}

#carica1{
  color: transparent;
  background-color: #e9c210;
  width: 30%;
  line-height: 180%;
  border-radius: 5px;
}

#carica2{
  color: transparent;
  background-color: #58e329;
  width: 60%;
  line-height: 180%;
  border-radius: 5px;
}

#carica3{
  color: transparent;
  background-color: #e30204;
  width: 15%;
  line-height: 180%;
  border-radius: 5px;
}
